In [113]:
import pandas as pd
import numpy as np

In [114]:
df = pd.read_excel('classic_models.xlsx')

In [115]:
#Proyecto classic-models  limpieza de database

In [116]:
df.info

<bound method DataFrame.info of         productLine                                    textDescription  \
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

   htmlDescription  image
0              NaN    NaN
1              NaN    NaN
2              NaN    NaN
3              NaN    NaN
4              NaN    NaN
5              NaN    NaN
6              NaN    NaN  >

In [117]:
import openpyxl

# Carga el archivo Excel
workbook = openpyxl.load_workbook('classic_models.xlsx')

# Obtiene los nombres de las hojas
sheet_names = workbook.sheetnames

# Muestra los nombres de las hojas
for sheet_name in sheet_names:
    print(sheet_name)

product_lines
payments
orders
orderdetails
offices
products
customers
employees

In [118]:
import pandas as pd

# Lee el archivo Excel
excel_file = pd.ExcelFile('classic_models.xlsx')

# Itera sobre las hojas de cálculo y limpia las columnas
for sheet_name in excel_file.sheet_names:
    # Lee la hoja de cálculo actual en un DataFrame
    df = excel_file.parse(sheet_name)
    
    # Muestra el nombre de la hoja de cálculo
    print("Hoja de cálculo:", sheet_name)
    
    # Muestra el contenido de la hoja de cálculo después de la limpieza
    print(df)
    print()  # Línea en blanco para separar las tablas

Hoja de cálculo: product_lines
        productLine                                    textDescription  \
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

   htmlDescription  image
0              NaN    NaN
1              NaN    NaN
2              NaN    NaN
3              NaN    NaN
4              NaN    NaN
5              NaN    NaN
6              NaN    NaN

Hoja de cálculo: payments
     customerNumber checkNumber paymentDate    amount
0               103    HQ336336  2004-10-19   6066.78
1               103    JM555205  2003-06-05  14571.44
2               103    OM314933  2004-12-18   1676.14
3               112    BO864823  2004-12-17  14191.12
4               112     HQ55022  2003-06-06  32641.98
..              ...         ...         ...       ...
268             495    BH167026  2003-12-26  59265.14
269             495    FN155234  2004-05-14   6276.60
270             496    EU531600  2005-05-25  30253.75
271             496    MB342426  2003-07-16  32077.44
272             496     MN89921  2004-12-31  52166.00

[273 rows x 4 columns]

Hoja de cálculo: orders
     orderNumber  orderDate requiredDate shippedDate      status  \
0          10100 2003-01-06   2003-01-13  2003-01-10     Shipped
1          10101 2003-01-09   2003-01-18  2003-01-11     Shipped
2          10102 2003-01-10   2003-01-18  2003-01-14     Shipped
3          10103 2003-01-29   2003-02-07  2003-02-02     Shipped
4          10104 2003-01-31   2003-02-09  2003-02-01     Shipped
..           ...        ...          ...         ...         ...
321        10421 2005-05-29   2005-06-06         NaT  In Process
322        10422 2005-05-30   2005-06-11         NaT  In Process
323        10423 2005-05-30   2005-06-05         NaT  In Process
324        10424 2005-05-31   2005-06-08         NaT  In Process
325        10425 2005-05-31   2005-06-07         NaT  In Process

                                              comments  customerNumber
0                                                  NaN             363
1                               Check on availability.             128
2                                                  NaN             181
3                                                  NaN             121
4                                                  NaN             141
..                                                 ...             ...
321  Custom shipping instructions were sent to ware...             124
322                                                NaN             157
323                                                NaN             314
324                                                NaN             141
325                                                NaN             119

[326 rows x 7 columns]

Hoja de cálculo: orderdetails
      orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0           10100    S18_1749               30     136.00                3
1           10100    S18_2248               50      55.09                2
2           10100    S18_4409               22      75.46                4
3           10100    S24_3969               49      35.29                1
4           10101    S18_2325               25     108.06                4
...           ...         ...              ...        ...              ...
2991        10425    S24_2300               49     127.79                9
2992        10425    S24_2840               31      31.82                5
2993        10425    S32_1268               41      83.79               11
2994        10425    S32_2509               11      50.32                6
2995        10425    S50_1392               18      94.92                2

[2996 rows x 5 columns]

Hoja de cálculo: offices
   officeCode           city             phone              addressLine1  \
0           1  San Francisco   +1 650 219 4782         100 Market Street
1           2         Boston   +1 215 837 0825          1550 Court Place
2           3            NYC   +1 212 555 3000      523 East 53rd Street
3           4          Paris   +33 14 723 4404  43 Rue Jouffroy D'abbans
4           5          Tokyo   +81 33 224 5000               4-1 Kioicho
5           6         Sydney   +61 2 9264 2451     5-11 Wentworth Avenue
6           7         London  +44 20 7877 2041       25 Old Broad Street

  addressLine2       state    country postalCode territory
0    Suite 300          CA        USA      94080       NaN
1    Suite 102          MA        USA      02107       NaN
2      apt. 5A          NY        USA      10022       NaN
3          NaN         NaN     France      75017      EMEA
4          NaN  Chiyoda-Ku      Japan   102-8578     Japan
5     Floor #2         NaN  Australia   NSW 2010      APAC
6      Level 7         NaN         UK   EC2N 1HN      EMEA

Hoja de cálculo: products
    productCode                            productName   productLine  \
0      S10_1678  1969 Harley Davidson Ultimate Chopper   Motorcycles
1      S10_1949               1952 Alpine Renault 1300  Classic Cars
2      S10_2016                  1996 Moto Guzzi 1100i   Motorcycles
3      S10_4698   2003 Harley-Davidson Eagle Drag Bike   Motorcycles
4      S10_4757                    1972 Alfa Romeo GTA  Classic Cars
..          ...                                    ...           ...
105   S700_3505                            The Titanic         Ships
106   S700_3962                         The Queen Mary         Ships
107   S700_4002              American Airlines: MD-11S        Planes
108    S72_1253                       Boeing X-32A JSF        Planes
109    S72_3212                             Pont Yacht         Ships

    productScale              productVendor  \
0           1:10            Min Lin Diecast
1           1:10    Classic Metal Creations
2           1:10   Highway 66 Mini Classics
3           1:10          Red Start Diecast
4           1:10    Motor City Art Classics
..           ...                        ...
105        1:700   Carousel DieCast Legends
106        1:700  Welly Diecast Productions
107        1:700        Second Gear Diecast
108         1:72    Motor City Art Classics
109         1:72       Unimax Art Galleries

                                    productDescription  quantityInStock  \
0    This replica features working kickstand, front...             7933
1    Turnable front wheels; steering function; deta...             7305
2    Official Moto Guzzi logos and insignias, saddl...             6625
3    Model features, official Harley Davidson logos...             5582
4    Features include: Turnable front wheels; steer...             3252
..                                                 ...              ...
105  Completed model measures 19 1/2 inches long, 9...             1956
106  Exact replica. Wood and Metal. Many extras inc...             5088
107  Polished finish. Exact replia with official lo...             8820
108  10" Wingspan with retractable landing gears.Co...             4857
109  Measures 38 inches Long x 33 3/4 inches High. ...              414

     buyPrice    MSRP
0       48.81   95.70
1       98.58  214.30
2       68.99  118.94
3       91.02  193.66
4       85.68  136.00
..        ...     ...
105     51.09  100.17
106     53.63   99.31
107     36.27   74.03
108     32.77   49.66
109     33.30   54.60

[110 rows x 9 columns]

Hoja de cálculo: customers
     customerNumber                    customerName contactLastName  \
0               103               Atelier graphique         Schmitt
1               112              Signal Gift Stores            King
2               114      Australian Collectors, Co.        Ferguson
3               119               La Rochelle Gifts         Labrune
4               121              Baane Mini Imports      Bergulfsen
..              ...                             ...             ...
117             486    Motor Mint Distributors Inc.         Salazar
118             487        Signal Collectibles Ltd.          Taylor
119             489  Double Decker Gift Stores, Ltd           Smith
120             495            Diecast Collectables          Franco
121             496               Kelly's Gift Shop         Snowden

    contactFirstName           phone                  addressLine1  \
0            Carine       40.32.2555                54, rue Royale
1               Jean      7025551838               8489 Strong St.
2              Peter    03 9520 4555             636 St Kilda Road
3            Janine       40.67.8555  67, rue des Cinquante Otages
4             Jonas       07-98 9555        Erling Skakkes gate 78
..               ...             ...                           ...
117             Rosa      2155559857             11328 Douglas Av.
118              Sue      4155554312             2793 Furth Circle
119          Thomas   (171) 555-7555               120 Hanover Sq.
120          Valarie      6175552555                6251 Ingle Ln.
121             Tony   +64 9 5555500            Arenales 1938 3'A'

    addressLine2          city     state postalCode      country  \
0            NaN        Nantes       NaN      44000       France
1            NaN     Las Vegas        NV      83030          USA
2        Level 3     Melbourne  Victoria       3004    Australia
3            NaN        Nantes       NaN      44000       France
4            NaN       Stavern       NaN       4110       Norway
..           ...           ...       ...        ...          ...
117          NaN  Philadelphia        PA      71270          USA
118          NaN      Brisbane        CA      94217          USA
119          NaN        London       NaN    WA1 1DP           UK
120          NaN        Boston        MA      51003          USA
121          NaN    Auckland         NaN        NaN  New Zealand

     salesRepEmployeeNumber  creditLimit
0                    1370.0        21000
1                    1166.0        71800
2                    1611.0       117300
3                    1370.0       118200
4                    1504.0        81700
..                      ...          ...
117                  1323.0        72600
118                  1165.0        60300
119                  1501.0        43300
120                  1188.0        85100
121                  1612.0       110000

[122 rows x 13 columns]

Hoja de cálculo: employees
    employeeNumber   lastName firstName extension  \
0             1002     Murphy     Diane     x5800
1             1056  Patterson      Mary     x4611
2             1076   Firrelli      Jeff     x9273
3             1088  Patterson   William     x4871
4             1102     Bondur    Gerard     x5408
5             1143        Bow   Anthony     x5428
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
8             1188   Firrelli     Julie     x2173
9             1216  Patterson     Steve     x4334
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
12            1337     Bondur      Loui     x6493
13            1370  Hernandez    Gerard     x2028
14            1401   Castillo    Pamela     x2759
15            1501       Bott     Larry     x2311
16            1504      Jones     Barry      x102
17            1611     Fixter      Andy      x101
18            1612      Marsh     Peter      x102
19            1619       King       Tom      x103
20            1621      Nishi      Mami      x101
21            1625       Kato   Yoshimi      x102
22            1702     Gerard    Martin     x2312

                              email  officeCode  reportsTo  \
0      dmurphy@classicmodelcars.com           1        NaN
1    mpatterso@classicmodelcars.com           1     1002.0
2    jfirrelli@classicmodelcars.com           1     1002.0
3   wpatterson@classicmodelcars.com           6     1056.0
4      gbondur@classicmodelcars.com           4     1056.0
5         abow@classicmodelcars.com           1     1056.0
6    ljennings@classicmodelcars.com           1     1143.0
7    lthompson@classicmodelcars.com           1     1143.0
8    jfirrelli@classicmodelcars.com           2     1143.0
9   spatterson@classicmodelcars.com           2     1143.0
10      ftseng@classicmodelcars.com           3     1143.0
11     gvanauf@classicmodelcars.com           3     1143.0
12     lbondur@classicmodelcars.com           4     1102.0
13   ghernande@classicmodelcars.com           4     1102.0
14   pcastillo@classicmodelcars.com           4     1102.0
15       lbott@classicmodelcars.com           7     1102.0
16      bjones@classicmodelcars.com           7     1102.0
17     afixter@classicmodelcars.com           6     1088.0
18      pmarsh@classicmodelcars.com           6     1088.0
19       tking@classicmodelcars.com           6     1088.0
20      mnishi@classicmodelcars.com           5     1056.0
21       ykato@classicmodelcars.com           5     1621.0
22     mgerard@classicmodelcars.com           4     1102.0

                jobTitle
0              President
1               VP Sales
2           VP Marketing
3   Sales Manager (APAC)
4    Sale Manager (EMEA)
5     Sales Manager (NA)
6              Sales Rep
7              Sales Rep
8              Sales Rep
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             Sales Rep
16             Sales Rep
17             Sales Rep
18             Sales Rep
19             Sales Rep
20             Sales Rep
21             Sales Rep
22             Sales Rep

In [119]:

product_lines = excel_file.parse('product_lines')

# Realiza el recuento de valores de la columna "image"
value_counts = product_lines['image'].value_counts()

# Muestra el recuento de valores
print("Recuento de valores de la columna 'image':")
print(value_counts)

Recuento de valores de la columna 'image':
Series([], Name: image, dtype: int64)

In [120]:
#La columna htmlDescription no contiene ningún dato

# Elimina la columna "htmlDescription"
product_lines = product_lines.drop('htmlDescription', axis=1)

# Muestra el DataFrame después de eliminar la columna
print(product_lines)

        productLine                                    textDescription  image
0      Classic Cars  Attention car enthusiasts: Make your wildest c...    NaN
1       Motorcycles  Our motorcycles are state of the art replicas ...    NaN
2            Planes  Unique, diecast airplane and helicopter replic...    NaN
3             Ships  The perfect holiday or anniversary gift for ex...    NaN
4            Trains  Model trains are a rewarding hobby for enthusi...    NaN
5  Trucks and Buses  The Truck and Bus models are realistic replica...    NaN
6      Vintage Cars  Our Vintage Car models realistically portray a...    NaN

In [121]:
#La columna Image no contiene ningún dato

# Elimina la columna "Image"
product_lines = product_lines.drop('image', axis=1)

# Muestra el DataFrame después de eliminar la columna
print(product_lines)

        productLine                                    textDescription
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

In [122]:
import pandas as pd

# Lee el archivo Excel
excel_file = pd.ExcelFile('classic_models.xlsx')

# Lee la hoja de cálculo "payments" en un DataFrame
payments = excel_file.parse('payments')


print(payments['paymentDate'].dtype)

datetime64[ns]

In [123]:
# Lee el archivo Excel
excel_file = pd.ExcelFile('classic_models.xlsx')

# Lee la hoja de cálculo "payments" en un DataFrame
payments = excel_file.parse('payments')

# Realiza el recuento de valores de la columna "customerNumber"
value_counts = payments['customerNumber'].value_counts()

# Muestra el recuento de valores
print("Recuento de valores de la columna 'customerNumber':")
print(value_counts)

Recuento de valores de la columna 'customerNumber':
141    13
124     9
398     4
381     4
323     4
       ..
357     2
450     1
415     1
211     1
239     1
Name: customerNumber, Length: 98, dtype: int64

In [124]:
# Actualizo las fechas para que los años sean recientes y con machine learning pueda realizar predicciones

In [125]:
from dateutil.relativedelta import relativedelta

# Lee el archivo Excel
excel_file = pd.ExcelFile('classic_models.xlsx')

# Lee la hoja de cálculo "payments" en un DataFrame
payments = excel_file.parse('payments')

# Extrae el día y el mes de la columna "paymentDate"
payments['day'] = payments['paymentDate'].dt.day
payments['month'] = payments['paymentDate'].dt.month

# Realiza la sustitución del año en la columna "paymentDate"
payments['paymentDate'] = payments['paymentDate'].apply(lambda x: x + relativedelta(years=17))

payments['year'] = payments['paymentDate'].dt.year


# Muestra el DataFrame después de la sustitución
print(payments)

     customerNumber checkNumber paymentDate    amount  day  month  year
0               103    HQ336336  2021-10-19   6066.78   19     10  2021
1               103    JM555205  2020-06-05  14571.44    5      6  2020
2               103    OM314933  2021-12-18   1676.14   18     12  2021
3               112    BO864823  2021-12-17  14191.12   17     12  2021
4               112     HQ55022  2020-06-06  32641.98    6      6  2020
..              ...         ...         ...       ...  ...    ...   ...
268             495    BH167026  2020-12-26  59265.14   26     12  2020
269             495    FN155234  2021-05-14   6276.60   14      5  2021
270             496    EU531600  2022-05-25  30253.75   25      5  2022
271             496    MB342426  2020-07-16  32077.44   16      7  2020
272             496     MN89921  2021-12-31  52166.00   31     12  2021

[273 rows x 7 columns]

In [126]:
# Lee el archivo Excel
excel_file = pd.ExcelFile('classic_models.xlsx')

# Lee la hoja de cálculo "payments" en un DataFrame
orders = excel_file.parse('orders')



# Sustituir los registros nulos en la columna "shippedDate" con la fecha de "requiredDate"
orders['shippedDate'] = orders['shippedDate'].fillna(orders['requiredDate'])

In [127]:
# Sustituir los valores nulos en la columna "comments" por "ok"
orders['comments'] = orders['comments'].fillna('ok')

In [128]:
# Sumar los registros "on hold" e "in process" y renombrarlos como "in_process"
orders['status'] = orders['status'].replace(['On Hold', 'In Process'], 'In_process')

# Mostrar el DataFrame después de la actualización
print(orders)

     orderNumber  orderDate requiredDate shippedDate      status  \
0          10100 2003-01-06   2003-01-13  2003-01-10     Shipped
1          10101 2003-01-09   2003-01-18  2003-01-11     Shipped
2          10102 2003-01-10   2003-01-18  2003-01-14     Shipped
3          10103 2003-01-29   2003-02-07  2003-02-02     Shipped
4          10104 2003-01-31   2003-02-09  2003-02-01     Shipped
..           ...        ...          ...         ...         ...
321        10421 2005-05-29   2005-06-06  2005-06-06  In_process
322        10422 2005-05-30   2005-06-11  2005-06-11  In_process
323        10423 2005-05-30   2005-06-05  2005-06-05  In_process
324        10424 2005-05-31   2005-06-08  2005-06-08  In_process
325        10425 2005-05-31   2005-06-07  2005-06-07  In_process

                                              comments  customerNumber
0                                                   ok             363
1                               Check on availability.             128
2                                                   ok             181
3                                                   ok             121
4                                                   ok             141
..                                                 ...             ...
321  Custom shipping instructions were sent to ware...             124
322                                                 ok             157
323                                                 ok             314
324                                                 ok             141
325                                                 ok             119

[326 rows x 7 columns]

In [129]:
status_counts = orders['status'].value_counts()

# Mostrar el resultado
print(status_counts)

Shipped       303
In_process     10
Cancelled       6
Resolved        4
Disputed        3
Name: status, dtype: int64

In [130]:
# Leer la hoja de cálculo "orderdetails" en un DataFrame
orderdetails = excel_file.parse('orderdetails')

# Mostrar la tabla "orderdetails"
print(orderdetails)

      orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0           10100    S18_1749               30     136.00                3
1           10100    S18_2248               50      55.09                2
2           10100    S18_4409               22      75.46                4
3           10100    S24_3969               49      35.29                1
4           10101    S18_2325               25     108.06                4
...           ...         ...              ...        ...              ...
2991        10425    S24_2300               49     127.79                9
2992        10425    S24_2840               31      31.82                5
2993        10425    S32_1268               41      83.79               11
2994        10425    S32_2509               11      50.32                6
2995        10425    S50_1392               18      94.92                2

[2996 rows x 5 columns]

In [131]:

offices = excel_file.parse('offices')


print(offices)

   officeCode           city             phone              addressLine1  \
0           1  San Francisco   +1 650 219 4782         100 Market Street
1           2         Boston   +1 215 837 0825          1550 Court Place
2           3            NYC   +1 212 555 3000      523 East 53rd Street
3           4          Paris   +33 14 723 4404  43 Rue Jouffroy D'abbans
4           5          Tokyo   +81 33 224 5000               4-1 Kioicho
5           6         Sydney   +61 2 9264 2451     5-11 Wentworth Avenue
6           7         London  +44 20 7877 2041       25 Old Broad Street

  addressLine2       state    country postalCode territory
0    Suite 300          CA        USA      94080       NaN
1    Suite 102          MA        USA      02107       NaN
2      apt. 5A          NY        USA      10022       NaN
3          NaN         NaN     France      75017      EMEA
4          NaN  Chiyoda-Ku      Japan   102-8578     Japan
5     Floor #2         NaN  Australia   NSW 2010      APAC
6      Level 7         NaN         UK   EC2N 1HN      EMEA

In [132]:

offices = excel_file.parse('offices')

# Eliminar las columnas "state" y "territory"
offices = offices.drop(['state', 'territory', 'addressLine2'], axis=1)

# Mostrar la tabla después de eliminar las columnas
print(offices)

   officeCode           city             phone              addressLine1  \
0           1  San Francisco   +1 650 219 4782         100 Market Street
1           2         Boston   +1 215 837 0825          1550 Court Place
2           3            NYC   +1 212 555 3000      523 East 53rd Street
3           4          Paris   +33 14 723 4404  43 Rue Jouffroy D'abbans
4           5          Tokyo   +81 33 224 5000               4-1 Kioicho
5           6         Sydney   +61 2 9264 2451     5-11 Wentworth Avenue
6           7         London  +44 20 7877 2041       25 Old Broad Street

     country postalCode
0        USA      94080
1        USA      02107
2        USA      10022
3     France      75017
4      Japan   102-8578
5  Australia   NSW 2010
6         UK   EC2N 1HN

In [133]:
products = excel_file.parse('products')
products

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
...,...,...,...,...,...,...,...,...,...
105,S700_3505,The Titanic,Ships,1:700,Carousel DieCast Legends,"Completed model measures 19 1/2 inches long, 9...",1956,51.09,100.17
106,S700_3962,The Queen Mary,Ships,1:700,Welly Diecast Productions,Exact replica. Wood and Metal. Many extras inc...,5088,53.63,99.31
107,S700_4002,American Airlines: MD-11S,Planes,1:700,Second Gear Diecast,Polished finish. Exact replia with official lo...,8820,36.27,74.03
108,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
109,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60

In [134]:
products = excel_file.parse('products')

# Realiza el recuento de valores de la columna "image"
value_counts2 = products['productLine'].value_counts()

print(value_counts2)

Classic Cars        38
Vintage Cars        24
Motorcycles         13
Planes              12
Trucks and Buses    11
Ships                9
Trains               3
Name: productLine, dtype: int64

In [135]:
customers = excel_file.parse('customers')


print(customers)

     customerNumber                    customerName contactLastName  \
0               103               Atelier graphique         Schmitt
1               112              Signal Gift Stores            King
2               114      Australian Collectors, Co.        Ferguson
3               119               La Rochelle Gifts         Labrune
4               121              Baane Mini Imports      Bergulfsen
..              ...                             ...             ...
117             486    Motor Mint Distributors Inc.         Salazar
118             487        Signal Collectibles Ltd.          Taylor
119             489  Double Decker Gift Stores, Ltd           Smith
120             495            Diecast Collectables          Franco
121             496               Kelly's Gift Shop         Snowden

    contactFirstName           phone                  addressLine1  \
0            Carine       40.32.2555                54, rue Royale
1               Jean      7025551838               8489 Strong St.
2              Peter    03 9520 4555             636 St Kilda Road
3            Janine       40.67.8555  67, rue des Cinquante Otages
4             Jonas       07-98 9555        Erling Skakkes gate 78
..               ...             ...                           ...
117             Rosa      2155559857             11328 Douglas Av.
118              Sue      4155554312             2793 Furth Circle
119          Thomas   (171) 555-7555               120 Hanover Sq.
120          Valarie      6175552555                6251 Ingle Ln.
121             Tony   +64 9 5555500            Arenales 1938 3'A'

    addressLine2          city     state postalCode      country  \
0            NaN        Nantes       NaN      44000       France
1            NaN     Las Vegas        NV      83030          USA
2        Level 3     Melbourne  Victoria       3004    Australia
3            NaN        Nantes       NaN      44000       France
4            NaN       Stavern       NaN       4110       Norway
..           ...           ...       ...        ...          ...
117          NaN  Philadelphia        PA      71270          USA
118          NaN      Brisbane        CA      94217          USA
119          NaN        London       NaN    WA1 1DP           UK
120          NaN        Boston        MA      51003          USA
121          NaN    Auckland         NaN        NaN  New Zealand

     salesRepEmployeeNumber  creditLimit
0                    1370.0        21000
1                    1166.0        71800
2                    1611.0       117300
3                    1370.0       118200
4                    1504.0        81700
..                      ...          ...
117                  1323.0        72600
118                  1165.0        60300
119                  1501.0        43300
120                  1188.0        85100
121                  1612.0       110000

[122 rows x 13 columns]

In [136]:
employees = excel_file.parse('employees')
employees

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep

In [137]:

employees = excel_file.parse('employees')

# Rellenar los valores nulos en la columna "reportsTo" con 'nodata'
employees['reportsTo'] = employees['reportsTo'].fillna('nodata')

# Mostrar la tabla después de rellenar los valores nulos
employees

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,nodata,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep

In [138]:
ñlkñlkñlk

NameError: name 'ñlkñlkñlk' is not defined

In [ ]:
import pandas as pd

# Ruta del archivo XLSX
archivo_xlsx = 'classic_models.xlsx'

# Leer el archivo XLSX en un DataFrame de pandas
df = pd.read_excel(archivo_xlsx)

# Ruta para guardar el archivo CSV
archivo_csv = 'classic_models.csv'

# Guardar el DataFrame en formato CSV
df.to_csv(archivo_csv, index=False)

In [ ]:
sheets = pd.ExcelFile(archivo_xlsx).sheet_names

sheets

['product_lines',
 'payments',
 'orders',
 'orderdetails',
 'offices',
 'products',
 'customers',
 'employees']

In [ ]:
pd.read_excel(archivo_xlsx, sheet_name='orders')

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,NaN,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,NaN,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,NaN,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,NaN,141
...,...,...,...,...,...,...,...
321,10421,2005-05-29,2005-06-06,NaT,In Process,Custom shipping instructions were sent to ware...,124
322,10422,2005-05-30,2005-06-11,NaT,In Process,NaN,157
323,10423,2005-05-30,2005-06-05,NaT,In Process,NaN,314
324,10424,2005-05-31,2005-06-08,NaT,In Process,NaN,141
325,10425,2005-05-31,2005-06-07,NaT,In Process,NaN,119

In [ ]:
data = {}

for s in sheets:

    data[s]=pd.read_excel(archivo_xlsx, sheet_name=s)

In [ ]:
data['orders']

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,NaN,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,NaN,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,NaN,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,NaN,141
...,...,...,...,...,...,...,...
321,10421,2005-05-29,2005-06-06,NaT,In Process,Custom shipping instructions were sent to ware...,124
322,10422,2005-05-30,2005-06-11,NaT,In Process,NaN,157
323,10423,2005-05-30,2005-06-05,NaT,In Process,NaN,314
324,10424,2005-05-31,2005-06-08,NaT,In Process,NaN,141
325,10425,2005-05-31,2005-06-07,NaT,In Process,NaN,119

In [ ]:
for k, v  in data.items():

    v.to_csv(f'{k}.csv')